div{
    /* border:1px solid gray; */
    border-spacing: 0px;
    box-sizing: border-box;
}

#gallery{
    width: 490px;
    margin:0 auto;
    min-height: 500px;
}

#img{
    min-height: 460px;
    float:left;
    width: 460px;
    background: #9e9e9e2e no-repeat;
    background-size: cover;
    cursor:pointer;
}

#larrow , #rarrow{
    width: 15px;
    float:left;
    min-height: 460px;
    line-height: 460px;
    /* background-color:blue; */
    text-align: center;
    font-weight: 900;
    color: green;
    font-size: 15px;
    cursor:pointer;
}

#larrow:hover, #rarrow:hover{
    text-shadow: 1px 2px 2px gray;
}

#number{
    width: 500px;
    height:15px;
    text-align: center;
}

.clearfix{
    clear:both;
    width:0;
}